<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.Title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.Author %>
  </p>

  <p>
    <strong>Genre:</strong>
    <%= book.Genre %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.Price %>
  </p>

  <p>
    <strong>Published date:</strong>
    <%= book.Published_Date %>
  </p>

</div>
